@tailwind base;
@tailwind components;
@tailwind utilities;

--root {
  /* font family */
  --code: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier,
    monospace !important;
}

&::-webkit-scrollbar {
  width: 12px;
  margin: 10px;
}

&::-webkit-scrollbar-thumb {
  background: rgb(64 64 64);
  border-radius: 6px;
  max-height: 1rem;
}

body {
  background: #0a0a0a;
}

.profile {
  max-width: 20rem;
  min-height: 20rem;
  background-repeat: no-repeat;
  background-size: cover;
}
